<!DOCTYPE html>
<html lang="pt">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
      <form action="/login" method="post">
          <label for="username">Usuário:</label>
          <input type="text" id="username" name="username" placeholder="CNPJ - SEM PONTO E BARRA">
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" placeholder="Senha">
          <button type="submit">Entrar</button>
      </form>
  </div>
</body>
</html>